# Copyright SAP SE
# SPDX-License-Identifier: Apache-2.0

apiVersion: v1
kind: Service
metadata:
  name: {{ include "cortex-postgres.fullname" . }}
  labels:
    {{- include "cortex-postgres.labels" . | nindent 4 }}
spec:
  type: ClusterIP
  ports:
    - port: 5432
      targetPort: 5432
      protocol: TCP
      name: postgresql
  selector:
    {{- include "cortex-postgres.selectorLabels" . | nindent 4 }}
