apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: {{ include "cortex-postgres.fullname" . }}
  annotations:
    checksum/image: "{{ .Values.image.tag }}"
    kubectl.kubernetes.io/default-container: {{ include "cortex-postgres.fullname" . }}
  labels:
    app: {{ include "cortex-postgres.fullname" . }}
    {{- include "cortex-postgres.labels" . | nindent 4 }}
spec:
  selector:
    matchLabels:
      {{- include "cortex-postgres.selectorLabels" . | nindent 6 }}
  serviceName: 'postgresql-svc'
  template:
    metadata:
      labels:
        app: {{ include "cortex-postgres.fullname" . }}
        {{- include "cortex-postgres.labels" . | nindent 8 }}
    spec:
      terminationGracePeriodSeconds: 10
      containers:
        - name: {{ include "cortex-postgres.fullname" . }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          resources:
            requests:
              memory: {{ .Values.resources.requests.memory }}
              cpu: {{ .Values.resources.requests.cpu }}
            limits:
              memory: {{ .Values.resources.limits.memory }}
              cpu: {{ .Values.resources.limits.cpu }}
          env:
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ include "cortex-postgres.fullname" . }}-secret
                  key: postgres-password
          ports:
            - containerPort: 5432
              name: postgresql
          volumeMounts:
            - name: data
              mountPath: /var/lib/postgresql/data
            - name: max-conns
              mountPath: /docker-entrypoint-initdb.d/max_conns.sql
              subPath: max_conns.sql
      volumes:
        - name: max-conns
          configMap:
            name: {{ include "cortex-postgres.fullname" . }}-max-conns
  volumeClaimTemplates:
    - metadata:
        name: data
      spec:
        accessModes: ['ReadWriteOnce']
        resources:
          requests:
            storage: {{ .Values.storage.size | default "4Gi" }}
