# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
build/**

# Test binary, built with `go test -c`
*.test

bin/

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
vendor/**

# Go workspace file
go.work
go.work.sum

# env file
.env

# Just in case someone decides to put the secrets into the project dir.
cortex.secrets.yaml

# macOS specific files
.DS_Store