# Override config values that contain sensitive information or
# are specific to your environment. These values can be used in the Tiltfile.

# SSO certificate to use.
sharedSSOCert: &sharedSSOCert
  # Certificate "public key". (Optional, remove this key if not needed)
  cert: |
    -----BEGIN CERTIFICATE-----
    Your certificate here
    -----END CERTIFICATE-----
  # Certificate private key. (Optional, remove this key if not needed)
  certKey: |
    -----BEGIN PRIVATE KEY-----
    Your private key here
    -----END PRIVATE KEY
  # Whether the certificate is self-signed.
  # If true, the certificate is not verified.
  selfSigned: false

conf:
  sync:
    # Override the endpoints to your Prometheus instances.
    prometheus:
      hosts:
        # See: https://github.com/sapcc/vrops-exporter
        - name: vrops_prometheus
          url: https://path-to-your-vrops-prometheus
          sso: *sharedSSOCert
    # Override the endpoints and credentials to your OpenStack.
    openstack:
      keystoneURL: https://path-to-keystone/v3
      novaURL: https://path-to-nova/v2.1
      placementURL: https://path-to-placement
      sso: *sharedSSOCert
      username: openstack-user-with-all-project-read-access
      password: openstack-user-password
      projectName: openstack-project-of-user
      userDomainName: openstack-domain-of-user
      projectDomainName: openstack-domain-of-project-scoped-to
