/* Copyright SAP SE */
/* SPDX-License-Identifier: Apache-2.0 */

body {
  font-family: Arial, Helvetica, sans-serif;

  --color-primary: rgb(255, 165, 2);
  --color-on-primary: rgb(255, 255, 255);
  --color-secondary: rgb(112, 161, 255);
  --color-on-secondary: rgb(255, 255, 255);
  --color-tertiary: rgb(255, 71, 87);
  --color-on-tertiary: rgb(255, 255, 255);
  --color-background: rgb(241, 242, 246);
  --color-on-background: rgb(74, 74, 74);
  --color-surface: rgb(255, 255, 255);
  --color-on-surface: rgb(74, 74, 74);

  color: var(--color-text);
  background: var(--color-background);
  /* Remove the default margin and padding from the body. */
  margin: 0;
}

/* Nice animated progress bar on top of the page. */
.progress {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 0.5em;
  background: var(--color-primary);
  z-index: 1000;
}

.progress::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 0.5em;
  background: var(--color-secondary);
  animation: progress 2s infinite;
}

@keyframes progress {
  0% {
    left: -100%;
    right: 100%;
  }

  100% {
    left: 100%;
    right: -100%;
  }
}

.progress-text {
  position: fixed;
  top: 2em;
  left: 0;
  right: 0;
  text-align: center;
  font-weight: bold;
}

/* Navbar that shows information. */
nav {
  padding-left: 0.25em;
  background: var(--color-surface);
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.1);
  z-index: 1;
}

nav div.element {
  display: inline-block;
  padding-top: 1em;
  padding-bottom: 2em;
  padding-left: 1em;
  padding-right: 1em;
  margin: 0;
  background: var(--color-surface);
  color: var(--color-on-surface);
  border-right: 2px solid var(--color-background);
  font-size: 1em;
}

nav div.element p.highlight {
  font-size: 1.25em;
  font-weight: bold;
}

table {
  /* Revert the default spacing used by the browser. */
  border-spacing: 0;
}

/* Table cell showing the weight during scheduling. */
td.weight {
  text-align: center;
  position: relative;
  animation: weightAnimation 0.25s ease-in-out;
}

td.weight div {
  border-radius: 0.5em;
  padding: 0.5em;
  margin: 0.5em;
  border: 2px solid var(--color-surface);
}

/* Backdrop white for the weight cells */
td.weight::after {
  content: '';
  position: absolute;
  --m: 0.6em;
  top: var(--m);
  bottom: var(--m);
  left: var(--m);
  right: var(--m);
  border-radius: 0.5em;
  background: var(--color-surface);
  z-index: -1;
}

/* Animation for weights when they first appear */
@keyframes weightAnimation {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

/* Table cell showing the hostname/name. */
th.hostname {
  text-align: center;
  position: relative;
}

th.hostname div {
  position: relative;
  padding: 0.1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin: 0.1em;
  width: 6em;
  height: 6em;
  overflow: hidden;
}

/* Table cell showing additional information. */
th.metainfo {
  text-align: center;
  position: relative;
}

th.metainfo div p {
  width: 6em;
  overflow: hidden;
}

th.metainfo div p.issue {
  color: var(--color-tertiary);
  border-radius: 0.5em;
  font-size: 0.8em;
}

/* Table row showing the name of a step in the pipeline. */
th.stepkey {
  text-align: left;
  font-weight: bold;
  padding-left: 0.75em;
  padding-top: 0.5em;
  padding-bottom: 0.25em;
}

/* Highlighted rows in the table. */
tr.highlight {
  background: var(--color-surface);
  /* tr doesn't support border-radius */
  clip-path: xywh(0 0 100% 100% round 0.75em);
}

/* Chart showing usage statistics. */
td.chart {
  position: relative;
  height: 24em;
}

td.chart div.barsbefore,
td.chart div.barsafter,
td.chart div.backdrop,
td.chart div.stats {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}

td.chart div.barsbefore p,
td.chart div.barsafter p,
td.chart div.backdrop p,
td.chart div.stats p {
  margin-left: 0.1em;
  margin-right: 0.1em;
  display: flex;
  border-radius: 0.2em;
}

td.chart div.backdrop p {
  height: 100%;
  border-radius: 0.2em;
  border: 1px solid rgba(0, 0, 0, 0.05);
  background: white;
}

td.chart div.stats {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

td.chart div.stats p {
  writing-mode: vertical-lr;
  text-orientation: mixed;
  display: flex;
  font-size: 1em;
  font-weight: bold;
  margin-left: 0.1em;
  margin-right: 0.1em;
  justify-content: center;
  align-items: center;
}

/* Animation for chart bars */
td.chart div.barsafter p,
td.chart div.barsbefore p {
  animation: barAnim 0.25s ease-in-out;
  overflow: hidden;
}

@keyframes barAnim {
  0% {
    transform: scaleY(0);
  }

  100% {
    transform: scaleY(1);
  }
}

td.chart div.barsafter p.cpu {
  background: var(--color-primary);
}

td.chart div.barsafter p.mem {
  background: var(--color-primary);
}

td.chart div.barsafter p.disk {
  background: var(--color-primary);
}

td.chart div.barsbefore p.cpu {
  background: var(--color-secondary);
}

td.chart div.barsbefore p.mem {
  background: var(--color-secondary);
}

td.chart div.barsbefore p.disk {
  background: var(--color-secondary);
}
