---
apiVersion: v1
kind: Service
metadata:
  name: cortex-cinder-scheduler
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "chart.labels" . | nindent 4 }}
spec:
  type: ClusterIP
  ports:
    - port: 8080
      targetPort: api
      protocol: TCP
      name: api
  selector:
    app.kubernetes.io/instance: cortex-cinder
    app.kubernetes.io/name: cortex-scheduling-controllers
    control-plane: controller-manager