---
apiVersion: v1
kind: Service
metadata:
  name: cortex-manila-metrics
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/instance: cortex-manila
    control-plane: controller-manager
spec:
  ports:
    - port: 8443
      targetPort: 8443
      protocol: TCP
      name: https
  selector:
    app.kubernetes.io/instance: cortex-manila
    control-plane: controller-manager
  type: ClusterIP
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    {{- include "chart.labels" . | nindent 4 }}
  name: cortex-manila-metrics-auth-role
rules:
- apiGroups:
  - authentication.k8s.io
  resources:
  - tokenreviews
  verbs:
  - create
- apiGroups:
  - authorization.k8s.io
  resources:
  - subjectaccessreviews
  verbs:
  - create
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  labels:
    {{- include "chart.labels" . | nindent 4 }}
  name: cortex-manila-metrics-auth-rolebinding
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: cortex-manila-metrics-auth-role
subjects:
- kind: ServiceAccount
  name: cortex-manila-knowledge-controller-manager
  namespace: default
- kind: ServiceAccount
  name: cortex-manila-scheduling-controller-manager
  namespace: default