---
apiVersion: cortex.cloud/v1alpha1
kind: Pipeline
metadata:
  name: manila-external-scheduler
spec:
  schedulingDomain: manila
  description: |
    Manila provides shared file system placement on storage hosts for OpenStack.
    After applying its own filtering and weighing logic, it delegates to cortex
    for additional filtering and weighing via this external scheduler pipeline.
    Cortex returns a ranked list of hosts back to manila for final selection.
  type: filter-weigher
  filters: []
  weighers:
    - name: netapp_cpu_usage_balancing
      description: |
        This step uses netapp storage pool cpu metrics condensed into a feature
        to balance manila share placements across available storage pools.
        Its main purpose is to avoid cpu overutilization on a storage pool which
        may lead to performance degradation for shares placed on that pool.
      params:
        # Min-max scaling for gap-fitting based on CPU usage (pct)
        avgCPUUsageLowerBound: 0 # pct
        avgCPUUsageUpperBound: 10 # pct
        avgCPUUsageActivationLowerBound: 0.0
        avgCPUUsageActivationUpperBound: -0.75
        maxCPUUsageLowerBound: 0 # pct
        maxCPUUsageUpperBound: 10 # pct
        maxCPUUsageActivationLowerBound: 0.0
        maxCPUUsageActivationUpperBound: -0.25
