# Copyright 2025 SAP SE
# SPDX-License-Identifier: Apache-2.0

owner-info:
  enabled: true
  helm-chart-url: "https://github.com/cobaltcore-dev/cortex/helm/bundles/cortex-cinder"
  maintainers:
    - "arno.uhlig@sap.com"
    - "julius.clausnitzer@sap.com"
    - "malte.viering@sap.com"
    - "marcel.bloecher@sap.com"
    - "markus.wieland@sap.com"
    - "p.matthes@sap.com"
  support-group: "workload-management"
  service: "cortex-cinder"

alerts:
  enabled: true
  prometheus: openstack

# SSO certificate to use.
sharedSSOCert: &sharedSSOCert
  # Certificate "public key". (Optional, remove this key if not needed)
  cert: |
    -----BEGIN CERTIFICATE-----
    Your certificate here
    -----END CERTIFICATE-----
  # Certificate private key. (Optional, remove this key if not needed)
  key: |
    -----BEGIN PRIVATE KEY-----
    Your private key here
    -----END PRIVATE KEY-----
  # Whether the certificate is self-signed.
  # If true, the certificate is not verified.
  selfSigned: "false"

postgres:
  host: cortex-cinder-postgresql
  user: postgres
  password: secret
  database: postgres
  port: "5432"

prometheus:
  url: "https://path-to-your-prometheus"
  sso:
    enabled: false
    <<: *sharedSSOCert

openstack:
  url: "https://path-to-keystone/v3"
  availability: public
  username: openstack-user-with-all-project-read-access
  password: openstack-user-password
  projectName: openstack-project-of-user
  userDomainName: openstack-domain-of-user
  projectDomainName: openstack-domain-of-project-scoped-to
  sso:
    enabled: false
    <<: *sharedSSOCert

cortex:
  # CRDs are deployed in the cortex-crds chart.
  crd: {enable: false}
  # Use this to unambiguate multiple cortex deployments in the same cluster.
  namePrefix: cortex-cinder
  conf:
    # The operator will only touch CRs with this operator name.
    operator: cortex-cinder
    keystoneSecretRef:
      name: cortex-cinder-openstack-keystone
      namespace: default
    # ssoSecretRef:
    #   name: cortex-cinder-openstack-sso
    #   namespace: default
    monitoring:
      labels:
        github_org: cobaltcore-dev
        github_repo: cortex
    enabledControllers:
      - cinder-decisions-pipeline-controller
      - explanation-controller
      - datasource-controllers
      - knowledge-controllers
      - kpis-controller

# Custom configuration for the cortex postgres chart.
cortex-postgres:
  fullnameOverride: cortex-cinder-postgresql

# Custom configuration for the cortex core chart.
cortex-alerts:
  fullnameOverride: cortex-cinder
  alerts:
    componentPrefix: cortex-cinder
