---
apiVersion: cortex.cloud/v1alpha1
kind: Pipeline
metadata:
  name: pods-scheduler
spec:
  schedulingDomain: pods
  description: |
    This pipeline is used to schedule pods onto nodes.
  type: filter-weigher
  createDecisions: true
  steps:
    - type: filter
      name: noop
      description: |
        This is only a passthrough step which lets all pod candidates through.
        It is used as a placeholder step in the pods scheduler pipeline.
      knowledges: []
      mandatory: false
    - type: filter
      name: taint
      description: |
        Filters nodes based on taints, excluding nodes with NoSchedule taints
        unless the pod has matching tolerations.
      knowledges: []
      mandatory: true
    - type: filter
      name: nodeaffinity
      description: |
        Filters nodes based on pod's node affinity requirements, matching
        nodes that satisfy the specified label selectors.
      knowledges: []
      mandatory: true
