# Copyright SAP SE
# SPDX-License-Identifier: Apache-2.0

fullnameOverride: cortex-postgresql

image:
  repository: ghcr.io/cobaltcore-dev/cortex-postgres
  pullPolicy: IfNotPresent

storage:
  size: "4Gi"

resources:
  requests:
    memory: "128Mi"
    cpu: "1"
  limits:
    memory: "4Gi"
    cpu: "4"

auth:
  password: secret
