# Copyright SAP SE
# SPDX-License-Identifier: Apache-2.0

owner-info:
  enabled: true
  helm-chart-url: "https://github.com/cobaltcore-dev/cortex/helm/bundles/cortex-manila"
  maintainers:
    - "arno.uhlig@sap.com"
    - "julius.clausnitzer@sap.com"
    - "malte.viering@sap.com"
    - "marcel.bloecher@sap.com"
    - "markus.wieland@sap.com"
    - "p.matthes@sap.com"
  support-group: "workload-management"
  service: "cortex-manila"

alerts:
  enabled: true
  prometheus: openstack

serviceMonitor:
  extraLabels: {}

# SSO certificate to use.
sharedSSOCert: &sharedSSOCert
  # Certificate "public key". (Optional, remove this key if not needed)
  cert: |
    -----BEGIN CERTIFICATE-----
    Your certificate here
    -----END CERTIFICATE-----
  # Certificate private key. (Optional, remove this key if not needed)
  key: |
    -----BEGIN PRIVATE KEY-----
    Your private key here
    -----END PRIVATE KEY-----
  # Whether the certificate is self-signed.
  # If true, the certificate is not verified.
  selfSigned: "false"

postgres:
  host: cortex-manila-postgresql
  user: postgres
  password: secret
  database: postgres
  port: "5432"

prometheus:
  url: "https://path-to-your-prometheus"
  sso:
    enabled: false
    <<: *sharedSSOCert

openstack:
  url: "https://path-to-keystone/v3"
  availability: public
  username: openstack-user-with-all-project-read-access
  password: openstack-user-password
  projectName: openstack-project-of-user
  userDomainName: openstack-domain-of-user
  projectDomainName: openstack-domain-of-project-scoped-to
  sso:
    enabled: false
    <<: *sharedSSOCert

cortex: &cortex
  crd: {enable: false}
  # Disable the default ServiceMonitor and metrics service from the kubebuilder stack.
  # A centralized ServiceMonitor and metrics service are defined in the cortex-manila chart.
  metrics: {enable: false}
  prometheus: {enable: false}
  conf: &cortexConf
    schedulingDomain: manila
    keystoneSecretRef:
      name: cortex-manila-openstack-keystone
      namespace: default
    # ssoSecretRef:
    #   name: cortex-manila-openstack-sso
    #   namespace: default
    monitoring:
      labels: &cortexMonitoringLabels
        github_org: cobaltcore-dev
        github_repo: cortex

# Split deployments
cortex-scheduling-controllers:
  <<: *cortex
  namePrefix: cortex-manila-scheduling
  # Enable webhook that will validate CRDs for the scheduling controllers.
  webhook: {enable: true}
  certmanager: {enable: true} # Needed for the webhook TLS certificates.
  conf:
    <<: *cortexConf
    leaderElectionID: cortex-manila-scheduling
    monitoring:
      labels:
        <<: *cortexMonitoringLabels
        component: manila-scheduling
    enabledControllers:
      - manila-decisions-pipeline-controller
      - explanation-controller
    enabledTasks:
      - manila-decisions-cleanup-task

cortex-knowledge-controllers:
  <<: *cortex
  namePrefix: cortex-manila-knowledge
  conf:
    <<: *cortexConf
    leaderElectionID: cortex-manila-knowledge
    monitoring:
      labels:
        <<: *cortexMonitoringLabels
        component: manila-knowledge
    enabledControllers:
      - datasource-controllers
      - knowledge-controllers
      - kpis-controller

# Custom configuration for the cortex postgres chart.
cortex-postgres:
  fullnameOverride: cortex-manila-postgresql
