---
apiVersion: cortex.cloud/v1alpha1
kind: Datasource
metadata:
  name: vrops-virtualmachine-cpu-demand-ratio
spec:
  operator: cortex-nova
  databaseSecretRef:
    name: cortex-nova-postgres
    namespace: {{ .Release.Namespace }}
  {{- if .Values.prometheus.sso.enabled }}
  ssoSecretRef:
    name: cortex-nova-prometheus-sso
    namespace: {{ .Release.Namespace }}
  {{- end }}
  type: prometheus
  prometheus:
    secretRef:
      name: cortex-nova-prometheus
      namespace: {{ .Release.Namespace }}
    alias: vrops_virtualmachine_cpu_demand_ratio
    query: vrops_virtualmachine_cpu_demand_ratio
    type: vrops_vm_metric
---
apiVersion: cortex.cloud/v1alpha1
kind: Datasource
metadata:
  name: vrops-hostsystem-cpu-contention-long-term-percentage
spec:
  operator: cortex-nova
  databaseSecretRef:
    name: cortex-nova-postgres
    namespace: {{ .Release.Namespace }}
  {{- if .Values.prometheus.sso.enabled }}
  ssoSecretRef:
    name: cortex-nova-prometheus-sso
    namespace: {{ .Release.Namespace }}
  {{- end }}
  type: prometheus
  prometheus:
    secretRef:
      name: cortex-nova-prometheus
      namespace: {{ .Release.Namespace }}
    alias: vrops_hostsystem_cpu_contention_long_term_percentage
    query: vrops_hostsystem_cpu_contention_percentage
    type: vrops_host_metric
---
apiVersion: cortex.cloud/v1alpha1
kind: Datasource
metadata:
  name: vrops-hostsystem-cpu-contention-short-term-percentage
spec:
  operator: cortex-nova
  databaseSecretRef:
    name: cortex-nova-postgres
    namespace: {{ .Release.Namespace }}
  {{- if .Values.prometheus.sso.enabled }}
  ssoSecretRef:
    name: cortex-nova-prometheus-sso
    namespace: {{ .Release.Namespace }}
  {{- end }}
  type: prometheus
  prometheus:
    secretRef:
      name: cortex-nova-prometheus
      namespace: {{ .Release.Namespace }}
    alias: vrops_hostsystem_cpu_contention_short_term_percentage
    query: vrops_hostsystem_cpu_contention_percentage
    type: vrops_host_metric
    timeRange: "1200s" # 20 minutes
    interval: "300s" # 5 minutes
    resolution: "60s" # 1 minute
---
apiVersion: cortex.cloud/v1alpha1
kind: Datasource
metadata:
  name: kvm-libvirt-domain-steal-pct
spec:
  operator: cortex-nova
  databaseSecretRef:
    name: cortex-nova-postgres
    namespace: {{ .Release.Namespace }}
  {{- if .Values.prometheus.sso.enabled }}
  ssoSecretRef:
    name: cortex-nova-prometheus-sso
    namespace: {{ .Release.Namespace }}
  {{- end }}
  type: prometheus
  prometheus:
    secretRef:
      name: cortex-nova-prometheus
      namespace: {{ .Release.Namespace }}
    alias: kvm_libvirt_domain_steal_pct
    # This metric is exported by https://github.com/cobaltcore-dev/kvm-monitoring
    query: |
      max by (domain) (rate(kvm_libvirt_domain_vcpu_delay_nanoseconds[5m])) / 1e9 * 100
    type: kvm_libvirt_domain_metric
    # It's ok to only look at a short time period here.
    timeRange: "1200s" # 20 minutes
    interval: "300s" # 5 minutes
    resolution: "60s" # 1 minute
---
apiVersion: cortex.cloud/v1alpha1
kind: Datasource
metadata:
  name: nova-servers
spec:
  operator: cortex-nova
  databaseSecretRef:
    name: cortex-nova-postgres
    namespace: {{ .Release.Namespace }}
  {{- if .Values.openstack.sso.enabled }}
  ssoSecretRef:
    name: cortex-nova-openstack-sso
    namespace: {{ .Release.Namespace }}
  {{- end }}
  type: openstack
  openstack:
    secretRef:
      name: cortex-nova-openstack-keystone
      namespace: {{ .Release.Namespace }}
    type: nova
    nova:
      type: servers
---
apiVersion: cortex.cloud/v1alpha1
kind: Datasource
metadata:
  name: nova-deleted-servers
spec:
  operator: cortex-nova
  databaseSecretRef:
    name: cortex-nova-postgres
    namespace: {{ .Release.Namespace }}
  {{- if .Values.openstack.sso.enabled }}
  ssoSecretRef:
    name: cortex-nova-openstack-sso
    namespace: {{ .Release.Namespace }}
  {{- end }}
  type: openstack
  openstack:
    secretRef:
      name: cortex-nova-openstack-keystone
      namespace: {{ .Release.Namespace }}
    type: nova
    nova:
      type: deletedServers
---
apiVersion: cortex.cloud/v1alpha1
kind: Datasource
metadata:
  name: nova-hypervisors
spec:
  operator: cortex-nova
  databaseSecretRef:
    name: cortex-nova-postgres
    namespace: {{ .Release.Namespace }}
  {{- if .Values.openstack.sso.enabled }}
  ssoSecretRef:
    name: cortex-nova-openstack-sso
    namespace: {{ .Release.Namespace }}
  {{- end }}
  type: openstack
  openstack:
    secretRef:
      name: cortex-nova-openstack-keystone
      namespace: {{ .Release.Namespace }}
    type: nova
    nova:
      type: hypervisors
---
apiVersion: cortex.cloud/v1alpha1
kind: Datasource
metadata:
  name: nova-flavors
spec:
  operator: cortex-nova
  databaseSecretRef:
    name: cortex-nova-postgres
    namespace: {{ .Release.Namespace }}
  {{- if .Values.openstack.sso.enabled }}
  ssoSecretRef:
    name: cortex-nova-openstack-sso
    namespace: {{ .Release.Namespace }}
  {{- end }}
  type: openstack
  openstack:
    secretRef:
      name: cortex-nova-openstack-keystone
      namespace: {{ .Release.Namespace }}
    type: nova
    nova:
      type: flavors
---
apiVersion: cortex.cloud/v1alpha1
kind: Datasource
metadata:
  name: nova-migrations
spec:
  operator: cortex-nova
  databaseSecretRef:
    name: cortex-nova-postgres
    namespace: {{ .Release.Namespace }}
  {{- if .Values.openstack.sso.enabled }}
  ssoSecretRef:
    name: cortex-nova-openstack-sso
    namespace: {{ .Release.Namespace }}
  {{- end }}
  type: openstack
  openstack:
    secretRef:
      name: cortex-nova-openstack-keystone
      namespace: {{ .Release.Namespace }}
    type: nova
    nova:
      type: migrations
---
apiVersion: cortex.cloud/v1alpha1
kind: Datasource
metadata:
  name: nova-aggregates
spec:
  operator: cortex-nova
  databaseSecretRef:
    name: cortex-nova-postgres
    namespace: {{ .Release.Namespace }}
  {{- if .Values.openstack.sso.enabled }}
  ssoSecretRef:
    name: cortex-nova-openstack-sso
    namespace: {{ .Release.Namespace }}
  {{- end }}
  type: openstack
  openstack:
    secretRef:
      name: cortex-nova-openstack-keystone
      namespace: {{ .Release.Namespace }}
    type: nova
    nova:
      type: aggregates
---
apiVersion: cortex.cloud/v1alpha1
kind: Datasource
metadata:
  name: placement-resource-providers
spec:
  operator: cortex-nova
  databaseSecretRef:
    name: cortex-nova-postgres
    namespace: {{ .Release.Namespace }}
  {{- if .Values.openstack.sso.enabled }}
  ssoSecretRef:
    name: cortex-nova-openstack-sso
    namespace: {{ .Release.Namespace }}
  {{- end }}
  type: openstack
  openstack:
    secretRef:
      name: cortex-nova-openstack-keystone
      namespace: {{ .Release.Namespace }}
    type: placement
    placement:
      type: resourceProviders
---
apiVersion: cortex.cloud/v1alpha1
kind: Datasource
metadata:
  name: placement-resource-provider-traits
spec:
  operator: cortex-nova
  databaseSecretRef:
    name: cortex-nova-postgres
    namespace: {{ .Release.Namespace }}
  {{- if .Values.openstack.sso.enabled }}
  ssoSecretRef:
    name: cortex-nova-openstack-sso
    namespace: {{ .Release.Namespace }}
  {{- end }}
  type: openstack
  openstack:
    secretRef:
      name: cortex-nova-openstack-keystone
      namespace: {{ .Release.Namespace }}
    type: placement
    placement:
      type: resourceProviderTraits
---
apiVersion: cortex.cloud/v1alpha1
kind: Datasource
metadata:
  name: placement-resource-provider-inventory-usages
spec:
  operator: cortex-nova
  databaseSecretRef:
    name: cortex-nova-postgres
    namespace: {{ .Release.Namespace }}
  {{- if .Values.openstack.sso.enabled }}
  ssoSecretRef:
    name: cortex-nova-openstack-sso
    namespace: {{ .Release.Namespace }}
  {{- end }}
  type: openstack
  openstack:
    secretRef:
      name: cortex-nova-openstack-keystone
      namespace: {{ .Release.Namespace }}
    type: placement
    placement:
      type: resourceProviderInventoryUsages
---
apiVersion: cortex.cloud/v1alpha1
kind: Datasource
metadata:
  name: identity-domains
spec:
  operator: cortex-nova
  databaseSecretRef:
    name: cortex-nova-postgres
    namespace: {{ .Release.Namespace }}
  {{- if .Values.openstack.sso.enabled }}
  ssoSecretRef:
    name: cortex-nova-openstack-sso
    namespace: {{ .Release.Namespace }}
  {{- end }}
  type: openstack
  openstack:
    secretRef:
      name: cortex-nova-openstack-keystone
      namespace: {{ .Release.Namespace }}
    type: identity
    identity:
      type: domains
---
apiVersion: cortex.cloud/v1alpha1
kind: Datasource
metadata:
  name: identity-projects
spec:
  operator: cortex-nova
  databaseSecretRef:
    name: cortex-nova-postgres
    namespace: {{ .Release.Namespace }}
  {{- if .Values.openstack.sso.enabled }}
  ssoSecretRef:
    name: cortex-nova-openstack-sso
    namespace: {{ .Release.Namespace }}
  {{- end }}
  type: openstack
  openstack:
    secretRef:
      name: cortex-nova-openstack-keystone
      namespace: {{ .Release.Namespace }}
    type: identity
    identity:
      type: projects
---
apiVersion: cortex.cloud/v1alpha1
kind: Datasource
metadata:
  name: limes-project-commitments
spec:
  operator: cortex-nova
  databaseSecretRef:
    name: cortex-nova-postgres
    namespace: {{ .Release.Namespace }}
  {{- if .Values.openstack.sso.enabled }}
  ssoSecretRef:
    name: cortex-nova-openstack-sso
    namespace: {{ .Release.Namespace }}
  {{- end }}
  type: openstack
  openstack:
    secretRef:
      name: cortex-nova-openstack-keystone
      namespace: {{ .Release.Namespace }}
    type: limes
    limes:
      type: projectCommitments
