{{- $enableKVM := .Values.kvm.enabled | default false }}
---
apiVersion: cortex.cloud/v1alpha1
kind: Knowledge
metadata:
  name: vmware-resolved-hostsystems
spec:
  schedulingDomain: nova
  extractor:
    name: vrops_hostsystem_resolver
  description: |
    This knowledge resolves the hostsystem label provided to the vrops
    prometheus metrics to the associated nova hypervisor compute host.
  recency: "1h"
  dependencies:
    datasources:
      - name: nova-hypervisors
      - name: nova-servers
      - name: nova-deleted-servers
      # Any vrops vm metric suffices here.
      - name: vrops-virtualmachine-cpu-demand-ratio
---
apiVersion: cortex.cloud/v1alpha1
kind: Knowledge
metadata:
  name: vmware-project-noisiness
spec:
  schedulingDomain: nova
  extractor:
    name: vrops_project_noisiness_extractor
  description: |
    This knowledge calculates how noisy projects are in terms of CPU contention
    on their VMs' hostsystems.
  recency: "6h"
  dependencies:
    datasources:
      - name: nova-hypervisors
      - name: nova-servers
      - name: vrops-virtualmachine-cpu-demand-ratio
---
apiVersion: cortex.cloud/v1alpha1
kind: Knowledge
metadata:
  name: vmware-long-term-contended-hosts
spec:
  schedulingDomain: nova
  extractor:
    name: vrops_hostsystem_contention_long_term_extractor
  description: |
    This knowledge identifies hostsystems that have been contended for
    long periods of time.
  dependencies:
    knowledges:
      - name: vmware-resolved-hostsystems
    datasources:
      - name: vrops-hostsystem-cpu-contention-long-term-percentage
---
apiVersion: cortex.cloud/v1alpha1
kind: Knowledge
metadata:
  name: vmware-short-term-contended-hosts
spec:
  schedulingDomain: nova
  extractor:
    name: vrops_hostsystem_contention_short_term_extractor
  description: |
    This knowledge identifies hostsystems that have been contended for short
    periods of time.
  dependencies:
    knowledges:
      - name: vmware-resolved-hostsystems
    datasources:
      - name: vrops-hostsystem-cpu-contention-short-term-percentage

{{- if $enableKVM }}
---
apiVersion: cortex.cloud/v1alpha1
kind: Knowledge
metadata:
  name: kvm-libvirt-domain-cpu-steal-pct
spec:
  schedulingDomain: nova
  extractor:
    name: kvm_libvirt_domain_cpu_steal_pct_extractor
  description: |
    This knowledge identifies KVM libvirt domains that are experiencing CPU
    steal, i.e. cpu contention or cpu wait.
  dependencies:
    datasources:
      - name: kvm-libvirt-domain-steal-pct
      - name: nova-servers
{{- end }}
---
apiVersion: cortex.cloud/v1alpha1
kind: Knowledge
metadata:
  name: host-pinned-projects
spec:
  schedulingDomain: nova
  extractor:
    name: host_pinned_projects_extractor
  description: |
    This knowledge extracts host-to-project pinning relationships from Nova
    aggregates.
  recency: "5m"
  dependencies:
    datasources:
      - name: nova-aggregates
      - name: nova-hypervisors
---
apiVersion: cortex.cloud/v1alpha1
kind: Knowledge
metadata:
  name: host-utilization
spec:
  schedulingDomain: nova
  extractor:
    name: host_utilization_extractor
  description: |
    This knowledge calculates how much space is available on each host.
    Note that this doesn't consider reservations placed on the hosts.
  recency: "60s"
  dependencies:
    datasources:
      - name: nova-hypervisors
      - name: placement-resource-provider-inventory-usages
---
apiVersion: cortex.cloud/v1alpha1
kind: Knowledge
metadata:
  name: host-capabilities
spec:
  schedulingDomain: nova
  extractor:
    name: host_capabilities_extractor
  description: |
    This knowledge extracts compute capabilities of each host.
  recency: "60s"
  dependencies:
    datasources:
      - name: nova-hypervisors
      - name: placement-resource-provider-traits
---
apiVersion: cortex.cloud/v1alpha1
kind: Knowledge
metadata:
  name: vm-host-residency
spec:
  schedulingDomain: nova
  extractor:
    name: vm_host_residency_extractor
  description: |
    This knowledge calculates how long VMs have been running on their host
    until they were migrated away.
  recency: "60s"
  dependencies:
    datasources:
      - name: nova-flavors
      - name: nova-servers
      - name: nova-migrations
---
apiVersion: cortex.cloud/v1alpha1
kind: Knowledge
metadata:
  name: vm-life-span
spec:
  schedulingDomain: nova
  extractor:
    name: vm_life_span_histogram_extractor
  description: |
    This knowledge calculates how long VMs have been running until they were
    deleted. The information is aggregated in histogram buckets.
  recency: "60s"
  dependencies:
    datasources:
      - name: nova-flavors
      - name: nova-deleted-servers
      - name: nova-servers
---
apiVersion: cortex.cloud/v1alpha1
kind: Knowledge
metadata:
  name: host-az
spec:
  schedulingDomain: nova
  extractor:
    name: host_az_extractor
  description: |
    This knowledge extracts which availability zone each host belongs to.
  recency: "60s"
  dependencies:
    datasources:
      - name: nova-hypervisors
      - name: nova-aggregates
---
apiVersion: cortex.cloud/v1alpha1
kind: Knowledge
metadata:
  name: host-details
spec:
  schedulingDomain: nova
  extractor:
    name: sap_host_details_extractor
  description: |
    This knowledge extracts SAP-specific host details information.
  recency: "60s"
  dependencies:
    datasources:
      - name: placement-resource-provider-traits
      - name: nova-hypervisors
