---
apiVersion: cortex.cloud/v1alpha1
kind: KPI
metadata:
  name: vmware-host-contention
spec:
  operator: cortex-nova
  impl: vmware_host_contention_kpi
  dependencies:
    knowledges:
      - name: vmware-long-term-contended-hosts
  description: |
    This KPI tracks the number of VMware hostsystems that have experienced
    long-term contention.
---
apiVersion: cortex.cloud/v1alpha1
kind: KPI
metadata:
  name: vmware-project-noisiness
spec:
  operator: cortex-nova
  impl: vmware_project_noisiness_kpi
  dependencies:
    knowledges:
      - name: vmware-project-noisiness
  description: |
    This KPI tracks how noisy projects are in terms of CPU contention
    on their VMs' hostsystems.
---
apiVersion: cortex.cloud/v1alpha1
kind: KPI
metadata:
  name: host-total-allocatable-capacity
spec:
  operator: cortex-nova
  impl: host_total_allocatable_capacity_kpi
  dependencies:
    knowledges:
      - name: host-details
      - name: host-utilization
  description: |
    This KPI tracks the total allocatable capacity of hosts.
---
apiVersion: cortex.cloud/v1alpha1
kind: KPI
metadata:
  name: host-capacity
spec:
  operator: cortex-nova
  impl: host_capacity_kpi
  dependencies:
    knowledges:
      - name: host-details
      - name: host-utilization
  description: |
    This KPI tracks the total allocatable capacity of hosts.
---
apiVersion: cortex.cloud/v1alpha1
kind: KPI
metadata:
  name: host-running-vms
spec:
  operator: cortex-nova
  impl: host_running_vms_kpi
  dependencies:
    knowledges:
      - name: host-details
      - name: host-utilization
  description: |
    This KPI tracks the total number of running VMs on hosts.
---
apiVersion: cortex.cloud/v1alpha1
kind: KPI
metadata:
  name: flavors-running-vms
spec:
  operator: cortex-nova
  impl: flavor_running_vms_kpi
  dependencies:
    datasources:
      - name: nova-servers
  description: |
    This KPI tracks the total number of running VMs per flavor and availability zone.
---
apiVersion: cortex.cloud/v1alpha1
kind: KPI
metadata:
  name: vm-migration-statistics
spec:
  operator: cortex-nova
  impl: vm_migration_statistics_kpi
  dependencies:
    knowledges:
      - name: vm-host-residency
  description: |
    This KPI tracks statistics about VM migrations.
---
apiVersion: cortex.cloud/v1alpha1
kind: KPI
metadata:
  name: vm-life-span
spec:
  operator: cortex-nova
  impl: vm_life_span_kpi
  dependencies:
    knowledges:
      - name: vm-life-span
  description: |
    This KPI tracks the life span of VMs.
---
apiVersion: cortex.cloud/v1alpha1
kind: KPI
metadata:
  name: vm-commitments
spec:
  operator: cortex-nova
  impl: vm_commitments_kpi
  dependencies:
    datasources:
      - name: limes-project-commitments
      - name: nova-flavors
  description: |
    This KPI tracks VM commitments based on project commitments and VM flavors.
---
apiVersion: cortex.cloud/v1alpha1
kind: KPI
metadata:
  name: kvm-host-capacity
spec:
  operator: cortex-nova
  impl: kvm_host_capacity_kpi
  dependencies:
    knowledges:
      - name: host-details
      - name: host-utilization
  description: |
    This KPI tracks the total, utilized, reserved and failover capacity of KVM hosts.
---
apiVersion: cortex.cloud/v1alpha1
kind: KPI
metadata:
  name: cortex-nova-datasource-state
spec:
  operator: cortex-nova
  impl: datasource_state_kpi
  opts:
    datasourceOperator: cortex-nova
  description: |
    This KPI tracks the state of datasource resources managed by cortex.
---
apiVersion: cortex.cloud/v1alpha1
kind: KPI
metadata:
  name: cortex-nova-knowledge-state
spec:
  operator: cortex-nova
  impl: knowledge_state_kpi
  opts:
    knowledgeOperator: cortex-nova
  description: |
    This KPI tracks the state of knowledge resources managed by cortex.
---
apiVersion: cortex.cloud/v1alpha1
kind: KPI
metadata:
  name: cortex-nova-decision-state
spec:
  operator: cortex-nova
  impl: decision_state_kpi
  opts:
    decisionOperator: cortex-nova
  description: |
    This aggregated KPI tracks the state of decision resources managed by cortex.
---
apiVersion: cortex.cloud/v1alpha1
kind: KPI
metadata:
  name: cortex-nova-kpi-state
spec:
  operator: cortex-nova
  impl: kpi_state_kpi
  opts:
    kpiOperator: cortex-nova
  description: |
    This KPI tracks the state of kpi resources managed by cortex.
