---
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: cortex-nova-metrics-monitor
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/instance: cortex-nova
    control-plane: controller-manager
    {{- if .Values.serviceMonitor.extraLabels }}
    {{- toYaml .Values.serviceMonitor.extraLabels | nindent 4 }}
    {{- end }}
spec:
  endpoints:
    - path: /metrics
      port: https
      scheme: https
      bearerTokenFile: /var/run/secrets/kubernetes.io/serviceaccount/token
      tlsConfig:
        insecureSkipVerify: true
  selector:
    matchLabels:
      app.kubernetes.io/instance: cortex-nova
      control-plane: controller-manager