name: Package and Publish Helm Charts
on:
  push:
    branches:
      - release

concurrency:
  group: push-charts-${{ github.repository }}

env:
  REGISTRY: ghcr.io

jobs:
  push-charts:
    permissions:
      contents: read
      packages: write
    runs-on: [ ubuntu-latest ]
    steps:
      - uses: actions/checkout@v6
      - name: Set up Helm
        uses: azure/setup-helm@v4.3.1
      - name: Log into registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Get all changed helm/library/cortex Chart.yaml files
        id: changed-chart-yaml-files-core
        uses: tj-actions/changed-files@v47
        with:
          files: |
            helm/library/cortex/Chart.yaml
      - name: Push cortex core charts to registry
        if: steps.changed-chart-yaml-files-core.outputs.all_changed_files != ''
        shell: bash
        env:
          ALL_CHANGED_FILES: ${{ steps.changed-chart-yaml-files-core.outputs.all_changed_files }}
        run: |
          for CHART_FILE in ${ALL_CHANGED_FILES}; do
            CHART_DIR=$(dirname $CHART_FILE)
            helm package $CHART_DIR --dependency-update --destination $CHART_DIR
            CHART_PACKAGE=$(ls $CHART_DIR/*.tgz)
            helm push $CHART_PACKAGE oci://${{ env.REGISTRY }}/${{ github.repository }}/charts/
          done

      - name: Get all changed library Chart.yaml files
        id: changed-chart-yaml-files-library
        uses: tj-actions/changed-files@v47
        with:
          files: |
            helm/library/**/Chart.yaml
      - name: Push library charts to registry
        if: steps.changed-chart-yaml-files-library.outputs.all_changed_files != ''
        shell: bash
        env:
          ALL_CHANGED_FILES: ${{ steps.changed-chart-yaml-files-library.outputs.all_changed_files }}
        run: |
          for CHART_FILE in ${ALL_CHANGED_FILES}; do
            CHART_DIR=$(dirname $CHART_FILE)
            helm package $CHART_DIR --dependency-update --destination $CHART_DIR
            CHART_PACKAGE=$(ls $CHART_DIR/*.tgz)
            helm push $CHART_PACKAGE oci://${{ env.REGISTRY }}/${{ github.repository }}/charts/
          done

      - name: Get all changed bundle Chart.yaml files
        id: changed-chart-yaml-files-bundle
        uses: tj-actions/changed-files@v47
        with:
          files: |
            helm/bundles/**/Chart.yaml
      - name: Push bundle charts to registry
        if: steps.changed-chart-yaml-files-bundle.outputs.all_changed_files != ''
        shell: bash
        env:
          ALL_CHANGED_FILES: ${{ steps.changed-chart-yaml-files-bundle.outputs.all_changed_files }}
        run: |
          for CHART_FILE in ${ALL_CHANGED_FILES}; do
            CHART_DIR=$(dirname $CHART_FILE)
            helm package $CHART_DIR --dependency-update --destination $CHART_DIR
            CHART_PACKAGE=$(ls $CHART_DIR/*.tgz)
            helm push $CHART_PACKAGE oci://${{ env.REGISTRY }}/${{ github.repository }}/charts/
          done
